body{
	background: #fafafa;
}
.container{
	width:7.5rem;
	height:8.38rem;
	background:rgba(242,137,40,1);
	
	position: relative; 
	background: url('../../images/css_sprites.png');
	background-size: 10.26rem 9.02rem;
	background-position: -.08rem -.08rem;
}
.trail_down{
	position: absolute;
	width: .64rem;
	height: .64rem;
	 background:rgba(255,255,255,.15); 
	border-radius:.04rem;
	top: .46rem;
	right: .3rem;
}
.trail_down img{
	width: 100%;
}
.content{
	width: 6.9rem;
	height: 10.26rem;
	position: absolute;
	top: 1.5rem;
	left: 50%;
	margin-left: -3.45rem;
	background: #fff;
	border-radius: .05rem;
	z-index: 1;
}
#app{
	position: relative;
}
.nameBox{
	width: 1.6rem;
	height: 1.6rem;
	position: absolute;
	top: .74rem;
	left: 50%;
	margin-left: -.8rem;
	z-index: 2;
	background: #fff;
	border-radius: .o5rem;
	overflow: hidden;
}
.nameBox img{
	width: 100%;
	height: 100%;
}
.timeBox{
	width:224px;
height:224px;
background:linear-gradient(-90deg,rgba(242,137,40,1),rgba(250,193,106,1));
border-radius:17px;
}
.companyName{
	width: 5.32rem;
	height: .52rem;
	margin: 1.28rem auto 0;
	text-align: center;
	font-size:.38rem;
	font-family:'PingFangSC-Medium';
	color:rgba(51,51,51,1);
	line-height:.52rem;
	color: #333;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.centerName{
	text-align: center;
	overflow: hidden;
	width: 3rem;
	margin: .1rem auto;
	clear: both;
}
.centerName>span{
	display: inline-block;
	width: .34rem;
	height: .02rem;
	background:rgba(216,216,216,1);
	margin-top: .22rem;
	line-height: .34rem;
}
.centerName>span:first-child{
	float: left;
}
.centerName>span:last-child{
	float: right;
}
.centerName>p{
	display: inline-block;
	font-family:PingFangSC-Medium;
	color:#666;
	line-height:.34rem;
	font-size:.24rem;
	text-align: center;
}
.center_phone{
	width:2.8rem;
	height:.5rem;
	border-radius:.25rem;
	border:1px solid rgba(242,137,40,1);
	margin: .3rem auto;
}
.phone_icon{
	display: inline-block;
	width: .25rem;
	height: .32rem;
	background: url('../../images/css_sprites.png');
	background-size: 10.26rem 9.02rem;
	background-position: -8.63rem -7.4rem;
	float: left;
	margin-left: .3rem;
	margin-top: .06rem;
}
.phone_number{
	display: inline-block;
	font-size:.3rem;
	height: .5rem;
	font-family:PingFangSC-Medium;
	color:rgba(242,137,40,1);
	line-height:.45rem;
	float: left;
	margin-left: .13rem;
}
.timer-box{
	width:5.16rem;
	margin:.4rem auto 0;
}
.title_p>span{
	display: inline-block;
	width: 2.32rem;
	text-align: center;
	height:.42rem;
	font-size:.3rem;
	font-family:PingFangSC-Regular;
	color:rgba(153,153,153,1);
	line-height:.42rem;
}
.title_p>span:first-child{
	float: left;
}
.title_p>span:last-child{
	float: right;
}
.timer_div{
	display: inline-block;
	width: 2.4rem;
	height: 2.24rem;
	background: url('../../images/css_sprites.png');
	background-size: 10.26rem 9.02rem;
	margin-top: .16rem;
	position: relative;
}
.timer_div div{
	width: 2.2rem;
	height: 2.1rem;
	margin: .08rem auto;
	box-shadow:0px 15px 10px rgba(242,137,40,0.3);
}
.timer_left{
	background-position: -7.79rem -2.52rem;
	float: left;
}
.timer_right{
	background-position: -7.79rem -4.97rem;
	float: right;
}
/*灰色样式*/
.timer_gray{
	background-position: -7.79rem -.1rem;
}
.timer_gray div{
	box-shadow:0px 15px 10px rgba(216,216,216,0.3);
	color:rgba(204,204,204,1)!important;
}
.timer_line{
	width:2.1rem;
	height:.04rem;
	background:linear-gradient(-90deg,rgba(231,139,58,1),rgba(240,175,95,1));
	border-radius:.17rem;
	position: absolute;
	left: 50%;
	margin-left: -1.05rem;
	top: 1.1rem;
}
.timer_line2{
	background:rgba(238,238,238,1);
}
.timer_div>div{
	font-size:1.5rem;
	font-family:PingFangSC-Medium;
	color:rgba(255,255,255,1);
	line-height:2.08rem;
	text-align: center;	
}
.btn_qx{
	width:1.5rem;
	height:.5rem;
	border-radius:.26rem;
	border:1px solid #999;
	text-align: center;
	margin: .78rem auto 0;
	font-size:.22rem;
	font-family:PingFangSC-Regular;
	color:#999;
	line-height:.5rem;
}
.words{
	font-size:.22rem;
	font-family:PingFangSC-Regular;
	color:rgba(153,153,153,1);
	line-height:.32rem;
	text-align: center;
	margin-top: .24rem;
}
.contiue_order{
	width:3.44rem;
	height:.96rem;
	background:linear-gradient(90deg,rgba(254,136,40,1),rgba(255,170,53,1));
	border-radius:.48rem;
	margin: .54rem auto 0;
	font-size:.34rem;
	font-family:PingFangSC-Medium;
	color:rgba(255,255,255,1);
	line-height:.96rem;
	text-align: center;
	box-shadow:0px 15px 10px rgba(242,137,40,0.3);
}
[v-cloak]{
	display: none;
}
.five_min{
	font-size:.22rem;
	font-family:PingFangSC-Regular;
	color:rgba(102,102,102,1);
	line-height:.32rem;
	text-align: center;
	margin-top: .84rem auto 0;
	position: absolute;
	bottom: .32rem;
	width: 100%;
}
