<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0"/>
		<meta name="format-detection" content="telephone=yes,email=no"/>
		<meta name="x5-orientation" content="portrait"/>
		<meta name="x5-fullscreen" content="true"/>
		<meta name="x5-page-mode" content="app"/>
		<title>确定预约</title>
		<script>
		    if (window.screen.availWidth <= 750) {
		        document.documentElement.style.fontSize = (100 / 750 * window.screen.availWidth) + 'px';
		    } else {
		        document.documentElement.style.fontSize = '100px';
		    }
		</script>
        <link rel="stylesheet" type="text/css" href="../../css/base.min.css?v=2.0.3"/>
        <link rel="stylesheet" href="../../css/carBrands.min.css?v=2.0.0"/>
        <link rel="stylesheet" href="../../css/common_page.min.css?v=2.0.0"/>
        <link rel="stylesheet" type="text/css" href="editQuickMess.css?v=2.0.16"/>
        <style>
            .bottomP{padding-bottom:1.8rem; }
        </style>
	</head>
	<body>
		<div id="app">
            

            <!-- 车辆信息模块 -->
            <div class="carCompon">
                <ul>
                    <li>
                        <span class="carIcon"></span>
                        <span>车辆信息</span>
                        <span class="chooseCar goAddCar">选择车辆</span>
                        <p style="height: 1px;border:none;border-top:1px solid rgba(232,232,232,1);" ></p>
                    </li>
                    <li>
                        <span>车牌号</span>
                        <i>*</i>
                        <!-- 请输入车牌号 -->
                        <!-- <a href="javascript:;" id="carNo" class="colorG" ></a> -->
                        <input id="carNo" readonly="readonly" maxlength="8" type="text" placeholder="请您输入车牌号"/>
                        <input type="hidden" id="carId" value="0"/>
                        <p style="height: 1px;border:none;border-top:1px solid rgba(232,232,232,1);" ></p>
                    </li>
                    <li>
                        <span>品牌型号</span>
                        <i>*</i>
                        <!-- 请选择车辆品牌型号 -->
                        <a href="javascript:;" class="car_showName colorG" >请选择车辆品牌型号</a>
                        <input type="hidden" id="car_brandId"/>
                        <input type="hidden" id="car_brandName"/>
                        <input type="hidden" id="car_seriesId"/>
                        <input type="hidden" id="car_seriesName"/>
                        <input type="hidden" id="car_modelId"/>
                        <input type="hidden" id="car_modelName"/>   
                        <!-- <p style="height: 1px;border:none;border-top:1px solid rgba(232,232,232,1);" ></p> -->
                    </li>
                    <li class="chooseSafe" style="display: none;">
                        <span>保险公司</span>
                        <!-- 请选择保险公司 -->
                        <a href="javascript:;" class="car_showCarinsuranceName colorG" >请选择保险公司</a>
                        <input type="hidden" id="car_insuranceId"/>
                        <input type="hidden" id="car_insuranceName"/>
                        <p style="height: 1px;border:none;border-top:1px solid rgba(232,232,232,1);" ></p>
                    </li>
                </ul>
            </div>


            <!-- 联系人-姓名-电话-地点模块 -->
            <div class="lxdd">
                <ul>
                    <li>
                        <span class="personalIcon"></span>
                        <span>个人信息</span>
                        <p style="height: 1px;border:none;border-top:1px solid rgba(232,232,232,1);" ></p>
                    </li>
                    <li>
                        <span>姓名</span>
                        <input type="text" placeholder="请输入您的姓名" id="name" />
                        <p style="height: 1px;border:none;border-top:1px solid rgba(232,232,232,1);" ></p>
                    </li>
                    <li>
                        <span>联系电话</span>
                        <span class="selectDown"></span>
                        <span class="removeAll" @click="removeAll()"></span>
                        <input type="number" placeholder="请输入您的电话" id="mobile" maxlength="11" @keyup="testTel()"/>
                        
                        <p style="height: 1px;border:none;border-top:1px solid rgba(232,232,232,1);" ></p>
                        <div>
                            <span>短信验证码</span>
                            <input type="text" placeholder="请输入验证码" id="messCode" maxlength="4" />
                            <button class="getCodeBtn getCodeBtnGray" @click="getCodeBtn()">获取验证码</button>
                            <p style="height: 1px;border:none;border-top:1px solid rgba(232,232,232,1);" ></p>
                        </div>
                    </li>
                    
                    <li class="chooseArea">
                        <span>故障发生地点</span>
                        <div class="choo"></div>
                    </li>
                </ul>
            </div>

            <!-- 维修内容 -->
            <div class="repairContent" style="display: none;">
                 <ul>
                    <li>
                        <span>|</span>
                        <span>维修内容</span>
                        <span class="chooseCar" style="display: none;">选择维修内容</span>
                    </li>
                 </ul>

                 <textarea name="" id="" cols="30" rows="10" placeholder="还有什么想说的（不超过200字）" maxlength="200"></textarea>
            </div>
            

            <!-- 确定维修 -->
            <div class="orderBtn">
                    确定预约
            </div>


            <!--倒计时组件-->
            <count-block :countblock="countBlock" v-show="isBox" ref="countblock"></count-block>
            <!-- 悬浮组件 -->
            <adve-block ref="adverblock"></adve-block>
            <!-- 操作指南 -->
            <adve-block1 ref="adverblock1"></adve-block1>


        </div>


        <!-- 点击选择地址出现地图 E-->

        <div class="gaode_map">
            <div id="show_map"></div>
            <div class="search_map">
                <input type="text" id="map_address"/>
                <button id="map_search">搜索</button>
                <button id="map_back">返回</button>
            </div>
            <div id="panel_map"></div>
        </div>


        <!-- choose car Number -->
        

    </body>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="../../lib/jQuery 3.3.1/jquery-3.3.1.min.js" charset='utf-8'></script>
    <script src="../../lib/fastclick 1.0.6/fastclick.min.js" charset='utf-8'></script>
    <script src="../../lib/layer.mobile-v2.0/layer_mobile/layer.min.js" charset='utf-8'></script>
    <script src="../../lib/jroll.2.6.1/jroll.min.js" charset='utf-8'></script>
    <script src="../../lib/jroll.2.6.1/jroll-pulldown.1.0.0.min.js"></script>
    <script src="../../js/vue.min.js"></script>
    <script src="https://webapi.amap.com/maps?v=1.4.7&key=e9d83bcf337ca24921e9af7aee928b4d"></script>
    <script>
        document.write("<script src='../../js/config.js?v=" + Math.random() + "' charset='utf-8'><\/script>");
        document.close();
    </script>
    <script src="../../js/carBrands.js?v=2.0.20" charset='utf-8'></script>
    <script src="../../js/common_page.js?v=2.0.0" charset='utf-8'></script>
    <script src="editQuickMess.js?v=2.0.36"></script>
</html>
    