[v-cloak] {
  display: none;
}
body {
  background: #f5f5f5;
}
body #app {
  width: 6.9rem;
  margin: .19rem auto;
  background: #f5f5f5;
  padding-bottom: 1rem;
}
body .lxdd {
  background: #fff;
  width: 100%;
  min-height: 4.56rem;
  margin-bottom: .18rem;
}
body .lxdd ul {
  width: 100%;
}
body .lxdd ul li:nth-child(1) {
  height: 1.2rem;
  line-height: 1.2rem;
}
body .lxdd ul li:nth-child(1) span {
  display: inline-block;
}
body .lxdd ul li:nth-child(1) span:nth-child(1) {
  color: #f28928;
  font-weight: 500;
}
body .lxdd ul li:nth-child(1) span:nth-child(2) {
  font-size: .3rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: #333333;
}
body .lxdd ul li:nth-child(1) p {
  width: 6.62rem;
  float: right;
}
body .lxdd ul li:nth-child(2) {
  width: 100%;
  height: .96rem;
  display: inline-block;
  padding-left: .2rem;
}
body .lxdd ul li:nth-child(2) input {
  height: .5rem;
  width: 3.4rem;
  float: right;
  line-height: .5rem;
  text-align: left;
  margin-right: .6rem;
  font-size: .28rem;
  margin-top: .23rem;
}
body .lxdd ul li:nth-child(2) ::-webkit-input-placeholder {
  font-size: .28rem;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #cccccc;
  text-align: left;
}
body .lxdd ul li:nth-child(2) span {
  display: inline-block;
  line-height: .96rem;
}
body .lxdd ul li:nth-child(2) p {
  width: 6.62rem;
  float: right;
}
body .lxdd ul li:nth-child(3) {
  width: 100%;
  min-height: .96rem;
  display: inline-block;
  padding-left: .2rem;
  position: relative;
}
body .lxdd ul li:nth-child(3) > input {
  height: .5rem;
  width: 2.2rem;
  float: right;
  line-height: .5rem;
  text-align: left;
  font-size: .28rem;
  position: absolute;
  right: 1.8rem;
  top: .2rem;
}
body .lxdd ul li:nth-child(3) ::-webkit-input-placeholder {
  font-size: .28rem;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #cccccc;
  text-align: left;
}
body .lxdd ul li:nth-child(3) span {
  display: inline-block;
  line-height: .96rem;
}
body .lxdd ul li:nth-child(3) p {
  width: 6.62rem;
  float: right;
}
body .lxdd ul li:nth-child(3) .removeAll {
  display: inline-block;
  width: .54rem;
  height: .54rem;
  background: url('../../images/removeAll.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: .9rem;
  top: .2rem;
}
body .lxdd ul li:nth-child(3) .selectDown {
  display: inline-block;
  width: .33rem;
  height: 100%;
  background: url('../../images/downXia.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: .25rem;
  top: .3rem;
}
body .lxdd ul li:nth-child(3) > div {
  position: relative;
}
body .lxdd ul li:nth-child(3) > div input {
  height: .5rem;
  width: 1.7rem;
  float: right;
  line-height: .5rem;
  text-align: left;
  font-size: .28rem;
  position: absolute;
  right: 2.3rem;
  top: .2rem;
}
body .lxdd ul li:nth-child(3) > div .getCodeBtn {
  display: block;
  width: 1.6rem;
  height: .62rem;
  background: linear-gradient(270deg, #fe8828 0%, #ffaa35 100%);
  border-radius: .32rem;
  font-size: .24rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: #ffffff;
  line-height: .62rem;
  text-align: center;
  float: right;
  margin: .2rem .05rem 0 0;
}
body .lxdd ul li:nth-child(3) > div .getCodeBtnGray {
  background: #dddddd;
}
body .lxdd ul li:nth-child(3) .dropDown {
  width: 2.88rem;
  min-height: .5rem;
  background: #ffffff;
  box-shadow: 0px 4px 8px 0px rgba(238, 238, 238, 0.5);
  border-radius: 4px;
  border: 1px solid #dddddd;
  position: absolute;
  left: 2.5rem;
}
body .lxdd ul li:nth-child(4) {
  height: 1.39rem;
  width: 100%;
  display: inline-block;
  padding-left: .2rem;
  background-image: url('../../images/arrow_right.png');
  background-position-x: 98%;
  background-position-y: .35rem;
  background-repeat: no-repeat;
  background-size: .3rem;
}
body .lxdd ul li:nth-child(4) .choo {
  width: 3.4rem;
  float: right;
  line-height: .4rem;
  text-align: left;
  margin-right: .6rem;
  margin-top: .1rem;
  font-size: .28rem;
  color: #333;
}
body .lxdd ul li:nth-child(4) span {
  display: inline-block;
  line-height: .96rem;
}
body .lxdd .personalIcon {
  width: .30rem;
  height: .4rem;
  background: url('../../images/personalIcon.png');
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  margin: 0.42rem .1rem;
}
body .carCompon {
  margin-bottom: .18rem;
  background: #fff;
}
body .carCompon ul li a {
  display: block;
  min-height: .5rem;
  width: 3.4rem;
  color: #666;
  float: right;
  text-align: left;
  line-height: .4rem;
  margin-right: .6rem;
  font-size: .28rem;
  margin-top: .25rem;
}
body .carCompon .chooseSafe {
  min-height: 1rem!important;
}
body .carCompon .colorG {
  color: #ccc!important;
}
body .carCompon .colorB {
  color: #333!important;
}
body .carCompon ul li:nth-child(1) {
  height: 1.19rem;
  line-height: 1.19rem;
}
body .carCompon ul li:nth-child(1) span {
  display: inline-block;
}
body .carCompon ul li:nth-child(1) span:nth-child(1) {
  color: #f28928;
  font-weight: 500;
}
body .carCompon ul li:nth-child(1) span:nth-child(2) {
  font-size: .3rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: #333333;
}
body .carCompon ul li:nth-child(1) span:nth-child(3) {
  font-size: .26rem;
  font-family: PingFangSC-Regular;
  font-weight: 500;
  color: #F28928;
  float: right;
  margin-right: .6rem;
}
body .carCompon ul li:nth-child(1) p {
  width: 6.62rem;
  float: right;
}
body .carCompon li:nth-child(2) {
  width: 100%;
  height: .96rem;
  display: inline-block;
  padding-left: .2rem;
}
body .carCompon li:nth-child(2) input {
  height: .5rem;
  width: 3.4rem;
  float: right;
  line-height: .5rem;
  text-align: left;
  margin-right: .6rem;
  font-size: .28rem;
  margin-top: .18rem;
}
body .carCompon li:nth-child(2) ::-webkit-input-placeholder {
  font-size: .28rem;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #cccccc;
  text-align: left;
}
body .carCompon li:nth-child(2) span {
  display: inline-block;
  line-height: .96rem;
}
body .carCompon li:nth-child(2) i {
  color: #F84C4C;
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
}
body .carCompon li:nth-child(2) p {
  width: 6.62rem;
  float: right;
}
body .carCompon li:nth-child(3) {
  width: 100%;
  height: .96rem;
  display: inline-block;
  padding-left: .2rem;
  background-image: url('../../images/arrow_right.png');
  background-position-x: 98%;
  background-position-y: .37rem;
  background-repeat: no-repeat;
  background-size: .3rem;
}
body .carCompon li:nth-child(3) input {
  height: .5rem;
  width: 3.4rem;
  float: right;
  line-height: .5rem;
  text-align: left;
  margin-right: .6rem;
  font-size: .28rem;
  margin-top: .18rem;
}
body .carCompon li:nth-child(3) ::-webkit-input-placeholder {
  font-size: .28rem;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #cccccc;
  text-align: left;
}
body .carCompon li:nth-child(3) span {
  display: inline-block;
  line-height: .96rem;
}
body .carCompon li:nth-child(3) i {
  color: #F84C4C;
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
}
body .carCompon li:nth-child(3) p {
  width: 6.62rem;
  float: right;
}
body .carCompon li:nth-child(4) {
  width: 100%;
  height: .96rem;
  display: inline-block;
  padding-left: .2rem;
  background-image: url('../../images/arrow_right.png');
  background-position-x: 98%;
  background-position-y: .37rem;
  background-repeat: no-repeat;
  background-size: .3rem;
}
body .carCompon li:nth-child(4) input {
  height: .5rem;
  width: 3.4rem;
  float: right;
  line-height: .5rem;
  text-align: left;
  margin-right: .6rem;
  font-size: .28rem;
  margin-top: .18rem;
}
body .carCompon li:nth-child(4) ::-webkit-input-placeholder {
  font-size: .28rem;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #cccccc;
  text-align: left;
}
body .carCompon li:nth-child(4) span {
  display: inline-block;
  line-height: .96rem;
}
body .carCompon li:nth-child(4) i {
  font-style: normal;
  color: #F84C4C;
  display: inline-block;
  vertical-align: middle;
}
body .carCompon li:nth-child(4) p {
  width: 6.62rem;
  float: right;
}
body .carCompon .carIcon {
  width: .34rem;
  height: .28rem;
  background: url('../../images/carIcon.png');
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  margin: 0.41rem .1rem;
}
body .repairContent {
  margin-bottom: .18rem;
  width: 100%;
  height: 3.56rem;
  background: #fff;
}
body .repairContent ul li:nth-child(1) {
  height: 1.19rem;
  line-height: 1.19rem;
}
body .repairContent ul li:nth-child(1) span {
  display: inline-block;
}
body .repairContent ul li:nth-child(1) span:nth-child(1) {
  color: #f28928;
  font-weight: 500;
}
body .repairContent ul li:nth-child(1) span:nth-child(2) {
  font-size: .3rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: #333333;
}
body .repairContent ul li:nth-child(1) span:nth-child(3) {
  font-size: .26rem;
  font-family: PingFangSC-Regular;
  font-weight: 500;
  color: #F28928;
  float: right;
  margin-right: .6rem;
}
body .repairContent textarea {
  display: block;
  width: 6.32rem;
  height: 2rem;
  margin: 0 auto;
  background: #f5f5f5;
  font-size: .28rem;
  padding: .1rem .15rem;
  line-height: .4rem;
}
body .orderBtn {
  width: 100%;
  height: .98rem;
  background: #F28928;
  text-align: center;
  line-height: .98rem;
  font-size: .34rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
}
body .gaode_map {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  background: #fff;
  overflow: hidden;
  z-index: 2;
}
body .gaode_map #show_map {
  height: 100%;
  width: 100%;
}
body .gaode_map .search_map {
  position: absolute;
  top: .2rem;
  left: 0;
}
body .gaode_map .search_map #map_address {
  width: 3.7rem;
  border: .01rem solid #518eee;
  height: .6rem;
  border-radius: .2rem;
  font-size: .28rem;
  -webkit-transform: translateX(0.36rem);
  transform: translateX(0.36rem);
}
body .gaode_map .search_map #map_search,
body .gaode_map .search_map #map_back {
  background: #518eee;
  height: .6rem;
  color: #fff;
  font-size: .22rem;
  -webkit-transform: translate(0.36rem, -0.01rem);
  transform: translate(0.36rem, -0.01rem);
  border-radius: .2rem;
  width: 1.5rem;
}
body .gaode_map #panel_map {
  position: absolute;
  top: 1rem;
  width: 100%;
}
body .ul_pro {
  background-color: #CED3D9;
  text-align: center;
  padding: 0.04rem 0.02rem;
  font-size: 0.32rem;
}
body .ul_pro li {
  float: left;
  width: 20%;
  padding: 0.1rem;
  box-sizing: border-box;
}
body .ul_pro .li_close,
body .ul_pro .li_SwitchingKeybord,
body .ul_pro .li_clean {
  float: right;
  width: 22.22%;
}
body .ul_pro .li_close span {
  background-color: #ACB3BB;
}
body .ul_pro li span {
  display: block;
  background-color: #fff;
  border-radius: 0.04rem;
  box-shadow: 0.02rem 0.02rem 0.02rem #888888;
  line-height: 0.52rem;
  padding-top: 0.02rem;
  height: 0.52rem;
}
body .ul_pro .li_Province span:active {
  background-color: #4DA9F2;
  color: #fff;
}
body .ul_keybord {
  background-color: #CED3D9;
  text-align: center;
  padding: 0.04rem 0.02rem;
  font-size: 0.28rem;
}
body .ul_keybord li {
  float: left;
  width: 20%;
  padding: 0.06rem;
  box-sizing: border-box;
}
body .ul_keybord .li_close,
body .ul_keybord .li_del,
body .ul_keybord .li_SwitchingProvince {
  float: right;
}
body .ul_keybord .li_close span {
  background-color: #ACB3BB;
}
body .ul_keybord li span {
  display: block;
  background-color: #fff;
  border-radius: 0.04rem;
  box-shadow: 0.02rem 0.02rem 0.02rem #888888;
  height: 0.52rem;
  line-height: 0.52rem;
  padding-top: 0.02rem;
}
body .ul_keybord .li_Keybord span:active {
  background-color: #4DA9F2;
  color: #fff;
}
