<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0"/>
		<meta name="format-detection" content="telephone=yes,email=no"/>
		<meta name="x5-orientation" content="portrait"/>
		<meta name="x5-fullscreen" content="true"/>
		<meta name="x5-page-mode" content="app"/>
		<title></title>
		<script>
		    if (window.screen.availWidth <= 750) {
		        document.documentElement.style.fontSize = (100 / 750 * window.screen.availWidth) + 'px';
		    } else {
		        document.documentElement.style.fontSize = '100px';
		    }
		</script>
        <link rel="stylesheet" type="text/css" href="../../css/base.min.css?v=2.0.0"/>
        <link rel="stylesheet" href="../Component/css/notices.css?v=2.0.0">
		<style type="text/css">
			#imgBox{width: 100%;}
            #imgBox img{width:100%}
			#app{position: relative;}
			.layui-m-layercont{
				padding: 0!important;
			}
			.layui-m-layerchild{
				background: none!important;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<div id="imgBox">
				<img src="../../images/guide.jpg?v=2.0.0" alt="">
            </div>
            
			<adve-block :arr = "arr" ref="adverblock"></adve-block>
			
            <adve-block1 :arr = "arr" ref="adverblock1"></adve-block1>
		</div>
	</body>
	<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<script src="../../lib/jQuery 3.3.1/jquery-3.3.1.min.js" charset='utf-8'></script>
	<script src="../../lib/fastclick 1.0.6/fastclick.min.js" charset='utf-8'></script>
	<script src="../../lib/layer.mobile-v2.0/layer_mobile/layer.min.js" charset='utf-8'></script>
	<script src="../../lib/jroll.2.6.1/jroll.min.js" charset='utf-8'></script>
	<script src="../../lib/jroll.2.6.1/jroll-pulldown.1.0.0.min.js"></script>
	<script src="../../js/vue.min.js"></script>
    <script src="../../js/common.js"></script>
    <script src="../Component/js/notives.js"></script>
    <script src="../Component/js/guide.js"></script>
	
	
    <script>
        var vm = new Vue({
            el:"#app",
            data:{
                arr:{}
            },
            methods:{

            },
            mounted(){
                var that = this;
                that.$refs.adverblock.init();
                that.$refs.adverblock1.init1();
            }
        })
    </script>
</html>
