header .repairer_info_header {
  height: 2.11rem;
  margin: 0 0.2rem;
  overflow: hidden;
}
header .repairer_info_header .repairer_info {
  margin: 0.24rem 0;
  position: relative;
}
header .repairer_info_header .repairer_info .repairer_img,
header .repairer_info_header .repairer_info .repairer_info_text {
  float: left;
}
header .repairer_info_header .repairer_info .repairer_img {
  position: relative;
}
header .repairer_info_header .repairer_info .repairer_img img {
  width: 1.41rem;
  height: 1.41rem;
}
header .repairer_info_header .repairer_info .repairer_info_text {
  padding-left: 0.3rem;
}
header .repairer_info_header .repairer_info .repairer_info_text .h3_name {
  width: 4.32rem;
  font-size: 0.28rem;
  color: #333;
}
header .repairer_info_header .repairer_info .repairer_info_text div .zxcx {
  float: left;
  border-radius: 0.08rem;
  font-size: 0.22rem;
  height: 0.37rem;
  line-height: 0.37rem;
  text-align: center;
  width: 1.17rem;
  border: 0.01rem solid #f87b19;
  color: #f87b19;
  margin: 0.29rem 0;
}
header .repairer_info_header .repairer_info .repairer_info_text div .zxcx_ul {
  margin: 0.26rem 0 0.26rem 0.1rem;
  float: left;
  width: 2rem;
  min-height: 0.46rem;
}
header .repairer_info_header .repairer_info .repairer_info_text div .zxcx_ul .zxcx_ul_li img {
  float: left;
  width: 0.46rem;
  height: 0.46rem;
  margin: 0 0.1rem;
}
header .repairer_info_header .repairer_info .repairer_info_text .address_detail_icon {
  display: block;
  font-family: "icomoon";
  color: #c1bfbd;
}
header .repairer_info_header .repairer_info .repairer_info_text .address_detail {
  width: 4.1rem;
  font-size: 0.24rem;
  color: #6e6b6a;
  -webkit-transform: translate(0.41rem, -0.3rem);
  transform: translate(0.41rem, -0.3rem);
}
.container div {
  width: 4.5rem;
  margin-top: 0.62rem;
  margin-left: 0.56rem;
}
.container div span {
  color: #6e6b6a;
  float: left;
  margin-right: 0.2rem;
}
.container div ul {
  float: left;
  margin-top: 0.07rem;
}
.container div ul li {
  font-family: "icomoon";
  float: left;
  color: #ffb401;
  margin-left: 0.25rem;
}
.container textarea {
  display: block;
  background: #f3f3f3;
  width: 6rem;
  height: 2.5rem;
  border-radius: 0.1rem;
  margin: 0.62rem auto 0 auto;
  font-size: 0.28rem;
  padding: 0.2rem;
}
.container textarea::-webkit-input-placeholder {
  color: #ccc;
}
.container .textareaLength {
  display: block;
  width: 6rem;
  color: #ccc;
  margin: 0 auto;
}
.container .btn_submit_review {
  position: fixed;
  bottom: 1.3rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: block;
  color: #fff;
  height: 0.88rem;
  width: 4.62rem;
  background: #f87b19;
  -webkit-border-radius: 0.4rem;
  border-radius: 0.4rem;
  font-size: 0.28rem;
  -webkit-box-shadow: 0 0.1rem 0.26rem 0.03rem rgba(248, 123, 25, 0.4);
  box-shadow: 0 0.1rem 0.26rem 0.03rem rgba(248, 123, 25, 0.4);
}
