<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0"/>
		<meta name="format-detection" content="telephone=yes,email=no"/>
		<meta name="x5-orientation" content="portrait"/>
		<meta name="x5-fullscreen" content="true"/>
		<meta name="x5-page-mode" content="app"/>
		<title>门店详情</title>
		<script>
		    if (window.screen.availWidth <= 750) {
		        document.documentElement.style.fontSize = (100 / 750 * window.screen.availWidth) + 'px';
		    } else {
		        document.documentElement.style.fontSize = '100px';
		    }
		</script>
		<link rel="stylesheet" type="text/css" href="../../css/base.min.css?v=2.0.3"/>
	    <!-- 引入样式 -->
		<link rel="stylesheet" href="../../css/vant.css">
		<link rel="stylesheet" type="text/css" href="QuickRepairNewDetails.css?v=2.1.0"/>
	</head>
	<body>
		<div id="app" v-cloak>
			<div style="width: 100%;" class="parentDiv wrapper parentClass">
				
				<header class="content">
					<img v-for="item,index in image_arr" :src="item.image_url" @click="seeImg(index,image_arr.length)"/>
					<p style="clear: both;"></p>
					<div class="slideRight">
						<div class="sp2 carTuo"></div>
						拖车服务
					</div>
				</header>
				<img v-show="showLead1" class="img_zhezhao1" src="../../images/img_zhezhao_1.png" @click="lead1()" alt="">
				<img v-show="showLead2" class="img_zhezhao2" src="../../images/img_zhezhao_2.png" @touchstart="lead2()" alt="">
				<img v-show="isNone" class="isNone" src="../../images/default_1125_633.png" />
			</div>
			
			
			<!--维修厂信息模块-->
			<div class="info_time2" v-show="up" @click="upImg"><img src="../../images/icon_up.png"/></div>
			<div class="newDetail_block">
				
				<div class="info_time">
					<div class="watch_icon sp2"></div>
					<p class="time_icon">营业时间：<span>{{marchantDetails.businessHours}}</span></p>
					<span class="detailStatus">{{timeStatus}}</span>
				</div>
				<div class="gray_back">
					<div style="padding: 0 .3rem;" class="shopInfo_box">
						<div class="shopInfo">
							<p class="shopName">{{marchantDetails.name}}</p>
							<div class="shopComm">
								<img :src="item" v-for='item,index in marchantGrade' />
								<span class="commonNum">（{{marchantDetails.gradeCount}}条评价）</span>
								<div class="detailWord" @click="goUserRating()" style="display: block;">
									<span>详情</span>
									<img src="../../images/rightSan.png"/>
								</div>
								
								<div class="badge_box">
									<span v-text='marchantDetails.road_qualification_type' v-show='s1'>--</span>
									<span v-show='s2'>{{marchantStatus}}</span>
									<span v-show='s3'>{{marchantJoin}}</span>
								</div>
							</div>
							
							<div class="position_block">
								<img src="../../images/position_icon.png" class="position_img"/>
								<p class="position_word">{{marchantDetails.address_detail}}</p>
								<div class="icon_block">
									<div class="icon_b1" @click="wxPosition()">
										<div class="position_jian sp2"></div>
										<p class="send_juli">1.1 km</p>
									</div>
									<div class="icon_shu" v-show="none"></div>
									<div class="icon_b1 icon_b2" v-show="none">
										<div class="position_jian2 sp2"></div>
										<p>电话</p>
									</div>
								</div>
								<p style="clear: both"></p>
							</div>
							
							
						</div>
					</div>
					<!--门店技师-->
					<div class="artificer_block" @click="seeUser()">
							<span class="technich_name">门店技师</span>	
							<div class="click_right">
								<img src="../../images/jinat.png"/>
							</div>
							<div class="man_list">
								<div v-for="item,index in artificerArr" :key="index">
									<img :src="api.NWBDApiAssessImgUrl + item.head" v-lazy="api.NWBDApiAssessImgUrl + item.head"/>
								</div>
								<span class="lue_cion" v-show="userNum">...</span>
								<span class="men_num">{{userNumber}}人</span>
							</div>
					</div>
					
					<!--车型-->
					<div class="carType">
						<span class="mahorType">主修车型</span>
						
						<div class="majorCar">
							<div v-for="item,index in marchantDetails.mainBrand" :cayId="item.brand_id">
								<img :src="item.logo" v-lazy="item.logo"/>
								<p>{{item.brand_name}}</p>
							</div>
						</div>
						
						<!-- <span class="mahorContent">维修内容</span>
						
						<div class="icon_item">
							<div class="small_icon">
								<img src=""/>
								<span>轮胎</span>
							</div>
						</div> -->
					</div>
					
					<!--用户评价-->
					<div class="userCommont" style="display: none;">
						<span class="userCom">用户评价</span>
						<div class="lieb">
							<div class="bottom_line" v-for="item in list" :key="item.id">
								
								<div class="listBlock">
									<div class="userBlock">
										<img src="../../images/head_portrait.png" class="userImg"/>
										<span class="userNick">{{item.customerInfo}}</span>
										<span class="userTime">{{item.createTime}}</span>
									</div>
									<div class="userStar">
										<div class="rateNum" style="display: inline-block;">
											<van-rate 
											v-model="item.rating"
											:size="14"
											color="#F77B19"
											disabled
											disabled-color="#F77B19"
											void-color="#ffffff"
												/>
											
										</div>
										<span class="userScore">
											<i>{{item.rating}}</i>.0
										</span>
										
										
										<div class="wordRight">
											<p>
												{{item.commentContent}}
											</p>
											<ul class="imgList">
												<li v-for="list in item.images">
													<img :src="api.NWBDApiAssessImgUrl + list.imageUrl"/>
												</li>
												<p style="clear: both;"></p>
											</ul>
										</div>
									</div>
								</div>
								<p style="clear: both;"></p>
							</div>
							
						</div>

						<div class="seeMore" style="display: none;" @click="goUserRating()">
							<span>查看全部评论({{totalCount}}条)</span>
							<span>></span>
						</div>
					</div>
					
					<div class="iconKefu">
						<img src="../../images/icon_kefu.png"/>
						<div class="iconPhone" @click="telphoto('4000-016-369')">
							4000-016-369
						</div>
					</div>
					<p class="endTel">有任何问题，请您拨打我们的客服热线</p>
					
					<div class="repairBtn" @click="peoductOrder()" v-show="showBtn">
						预约维修
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<script src="../../lib/jQuery 3.3.1/jquery-3.3.1.min.js" charset='utf-8'></script>
	<script src="../../lib/fastclick 1.0.6/fastclick.min.js" charset='utf-8'></script>
	<script src="../../lib/layer.mobile-v2.0/layer_mobile/layer.min.js" charset='utf-8'></script>
	<script src="../../lib/jroll.2.6.1/jroll.min.js" charset='utf-8'></script>
	<script src="../../lib/jroll.2.6.1/jroll-pulldown.1.0.0.min.js"></script>
	<script src="../../js/common.js"></script>
	<script src="../../js/vue.min.js"></script>
	<script src="../../js/vue-lazyload.js"></script>
	<script src="https://webapi.amap.com/maps?v=1.4.7&key=e9d83bcf337ca24921e9af7aee928b4d"></script>
	<script>
	    document.write("<script src='../../js/config.js?v=" + Math.random() + "' charset='utf-8'><\/script>");
	    document.close();
	</script>
	<script src="../../js/vant.min.js"></script>
	<script src="QuickRepairNewDetails.js?v=2.1.0"></script>
	<script src="https://unpkg.com/better-scroll/dist/bscroll.min.js"></script>
	<script>
		//调用图片懒加载
		Vue.use(VueLazyload, {
			preLoad: 1.3,
			error: '../../images/img_zhanweitu.png',
			loading: '../../images/img_zhanweitu.png',
			attempt: 1,
		})
		
		var scroll = new BScroll('.wrapper',{
			scrollY: true,
			click: true
		})
	</script>
</html>
