<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0"/>
		<meta name="format-detection" content="telephone=yes,email=no"/>
		<meta name="x5-orientation" content="portrait"/>
		<meta name="x5-fullscreen" content="true"/>
		<meta name="x5-page-mode" content="app"/>
		<title>门店详情</title>
		<script>
		    if (window.screen.availWidth <= 750) {
		        document.documentElement.style.fontSize = (100 / 750 * window.screen.availWidth) + 'px';
		    } else {
		        document.documentElement.style.fontSize = '100px';
		    }
		</script>
		<link rel="stylesheet" type="text/css" href="../../css/base.min.css?v=2.0.3"/>
	    <!-- 引入样式 -->
		<link rel="stylesheet" href="../../css/vant.css">
		<link rel="stylesheet" type="text/css" href="QuickRepairNewDetails.css?v=2.0.2"/>
	</head>
	<body>
		<div id="app" v-cloak>
			<header>
				<img :src="item.image_url" v-for="item,index in image_arr" @click="seeImg(index,image_arr.length)"/>
				<p style="clear: both;"></p>
				<div class="slideRight">
					<div class="sp2 carTuo"></div>
					拖车服务
				</div>
			</header>
			
			<!--维修厂信息模块-->
			<div class="info_time2" v-show="up" @click="upImg"><img src="../../images/icon_up.png"/></div>
			<div class="newDetail_block">
				
				<div class="info_time">
					<div class="watch_icon sp2"></div>
					<p class="time_icon">营业时间：<span>{{marchantDetails.businessHours}}</span></p>
					<span class="detailStatus">{{timeStatus}}</span>
				</div>
				<div class="gray_back">
					<div style="padding: 0 .3rem;" class="shopInfo_box">
						<div class="shopInfo">
							<p class="shopName">{{marchantDetails.name}}</p>
							<div class="shopComm">
								<img :src="item" v-for='item,index in marchantGrade' />
								<span class="commonNum">（{{marchantDetails.gradeCount}}条评价）</span>
								<div class="detailWord">
									<span>详情</span>
									<img src="../../images/rightSan.png"/>
								</div>
								
								<div class="badge_box">
									<span v-text='marchantDetails.road_qualification_type' v-show='s1'>--</span>
									<span v-show='s2'>{{marchantStatus}}</span>
									<span v-show='s3'>{{marchantJoin}}</span>
								</div>
							</div>
							
							<div class="position_block">
								<img src="../../images/position_icon.png" class="position_img"/>
								<p class="position_word">{{marchantDetails.address_detail}}</p>
								<div class="icon_block">
									<div class="icon_b1" @click="wxPosition()">
										<div class="position_jian sp2"></div>
										<p class="send_juli">1.1 km</p>
									</div>
									<div class="icon_shu" v-show="none"></div>
									<div class="icon_b1 icon_b2" v-show="none">
										<div class="position_jian2 sp2"></div>
										<p>电话</p>
									</div>
								</div>
								<p style="clear: both"></p>
							</div>
							
							
						</div>
					</div>
					<!--门店技师-->
					<div class="artificer_block">
							<span class="technich_name">门店技师</span>	
							<div class="click_right">
								<img src="../../images/jinat.png"/>
							</div>
							<div class="man_list">
								<div v-for="item,index in artificerArr" :key="index">
									<img :src="item.head" v-lazy="item.head"/>
								</div>
								<span class="lue_cion" v-show="userNum">...</span>
								<span class="men_num">{{userNumber}}人</span>
							</div>
					</div>
					
					<!--车型-->
					<div class="carType">
						<span class="mahorType">主修车型</span>
						
						<div class="majorCar">
							<div v-for="item,index in marchantDetails.mainBrand" :cayId="item.brand_id">
								<img :src="item.logo" v-lazy="item.logo"/>
								<p>{{item.brand_name}}</p>
							</div>
						</div>
						
						<span class="mahorContent">维修内容</span>
						
						<div class="icon_item">
							<div class="small_icon">
								<img src=""/>
								<span>轮胎</span>
							</div>
						</div>
					</div>
					
					<!--用户评价-->
					<div class="userCommont">
						<span class="userCom">用户评价</span>
						<div class="bottom_line">
							
							<div class="listBlock">
								<div class="userBlock">
									<img src="../../images/head_portrait.png" class="userImg"/>
									<span class="userNick">龙马精神</span>
									<span class="userTime">2018-05-18</span>
								</div>
								<div class="userStar">
									<div class="starBox">
										<img src="../../images/icon5.png"/>
										<img src="../../images/icon5.png"/>
										<img src="../../images/icon5.png"/>
									</div>
									<span class="userScore">
										<i>5</i>.0
									</span>
									
									
									<div class="wordRight">
										<p>
											保宝车服认证店，技师技能娴熟，服务态度非常非常好，维修质量快！ 
											保宝车服公众号设计合理，解决了用户的需求，下次如果我的车出现问题，
											我还是要找保宝车服公众号的门店进行维修和保养。
										</p>
										<ul class="imgList">
											<li>
												<img src="../../images/default_1125_633.png"/>
											</li>
											<li>
												<img src="../../images/default_1125_633.png"/>
											</li>
											<li>
												<img src="../../images/default_1125_633.png"/>
											</li>
											<li>
												<img src="../../images/default_1125_633.png"/>
											</li>
											<p style="clear: both;"></p>
										</ul>
									</div>
								</div>
							</div>
							<p style="clear: both;"></p>
						</div>
						<div class="bottom_line">
							<div class="listBlock">
								<div class="userBlock">
									<img src="../../images/head_portrait.png" class="userImg"/>
									<span class="userNick">龙马精神</span>
									<span class="userTime">2018-05-18</span>
								</div>
								<div class="userStar">
									<div class="starBox">
										<img src="../../images/icon5.png"/>
										<img src="../../images/icon5.png"/>
										<img src="../../images/icon5.png"/>
									</div>
									<span class="userScore">
										<i>5</i>.0
									</span>
									
									
									<div class="wordRight">
										<p>
											保宝车服认证店，技师技能娴熟，服务态度非常非常好，维修质量快！ 
											保宝车服公众号设计合理，解决了用户的需求，下次如果我的车出现问题，
											我还是要找保宝车服公众号的门店进行维修和保养。
										</p>
										<ul class="imgList">
											<li>
												<img src="../../images/default_1125_633.png"/>
											</li>
											<li>
												<img src="../../images/default_1125_633.png"/>
											</li>
											<li>
												<img src="../../images/default_1125_633.png"/>
											</li>
											<li>
												<img src="../../images/default_1125_633.png"/>
											</li>
											<p style="clear: both;"></p>
										</ul>
									</div>
								</div>
							</div>
							<p style="clear: both;"></p>
						</div>
						
						<div class="seeMore" style="display: none;">
							<span>查看全部评论(298条)</span>
							<span>></span>
						</div>
					</div>
					
					<div class="iconKefu">
						<img src="../../images/icon_kefu.png"/>
						<div class="iconPhone" @click="telphoto('4000-016-369')">
							4000-016-369
						</div>
					</div>
					<p class="endTel">有任何问题，请您拨打我们的客服热线</p>
					
					<div class="repairBtn" @click="peoductOrder()" v-show="showBtn">
						预约维修
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<script src="../../lib/jQuery 3.3.1/jquery-3.3.1.min.js" charset='utf-8'></script>
	<script src="../../lib/fastclick 1.0.6/fastclick.min.js" charset='utf-8'></script>
	<script src="../../lib/layer.mobile-v2.0/layer_mobile/layer.min.js" charset='utf-8'></script>
	<script src="../../lib/jroll.2.6.1/jroll.min.js" charset='utf-8'></script>
	<script src="../../lib/jroll.2.6.1/jroll-pulldown.1.0.0.min.js"></script>
	<script src="../../js/vue.min.js"></script>
	<script src="../../js/vue-lazyload.js"></script>
	<script src="https://webapi.amap.com/maps?v=1.4.7&key=e9d83bcf337ca24921e9af7aee928b4d"></script>
	<script>
	    document.write("<script src='../../js/config.js?v=" + Math.random() + "' charset='utf-8'><\/script>");
	    document.close();
	</script>
	<script src="../../js/vant.min.js"></script>
	<script src="QuickRepairNewDetails.js?v=2.0.6"></script>
	<script>
		//调用图片懒加载
		Vue.use(VueLazyload, {
			preLoad: 1.3,
			error: '../../images/img_zhanweitu.png',
			loading: '../../images/img_zhanweitu.png',
			attempt: 1,
		})
		
	</script>
</html>
