<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0"/>
    <meta name="format-detection" content="telephone=yes,email=no"/>
    <meta name="x5-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="x5-page-mode" content="app"/>
    <title>预约维修</title>
    <script>
        if (window.screen.availWidth <= 750) {
            document.documentElement.style.fontSize = (100 / 750 * window.screen.availWidth) + 'px';
        } else {
            document.documentElement.style.fontSize = '100px';
        }
    </script>
    <link rel="stylesheet" type="text/css" href="../../lib/layer.mobile-v2.0/layer_mobile/need/layer.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/swiper-4.2.6/dist/css/swiper.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/swiper-4.2.6/dist/css/animate.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/base.min.css?v=2.0.0"/>
    <link rel="stylesheet" type="text/css" href="QuickRepairDetails.min.css?v=2.0.0"/>
    
</head>

<body>
<div id="app">
<div class="container">
    <span class="back_span"></span>
    <div class="swiper-container">
        <div class="swiper-wrapper"></div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="merchant_name_grade">
        <span></span>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="corporate_information">
        <h3>
            <span class="icon_corporate_information"></span>企业信息
        </h3>
        <ul class="clearfix">
            <!-- <li class="clearfix">
                <span class="service_hotline"></span>
                <p class="service_hotline_key">联系电话</p>
                <P class="service_hotline_value ellipsis"></P>
            </li> -->
            <li class="clearfix">
                <span class="businessHours"></span>
                <p class="businessHours_key">营业时间</p>
                <P class="businessHours_value ellipsis"></P>
            </li>
            <li class="clearfix">
                <span class="address_detail"></span>
                <p class="address_detail_key">门店地址</p>
                <img class="img_address" src='../../images/to_here.png'/>
                <P class="address_detail_value ellipsis"></P>
            </li>
        </ul>
    </div>

    <div id="carList">
        <h3>
            <span class="icon_rescue_type"></span>主修车型
        </h3>
        <div class="major_models clearfix">
            <ul class="clearfix"></ul>
        </div>
        <div id="carList_showCarList">
            <span style="color: #e0284f;margin-right: 0.24rem;"></span>
            <p>请选择服务车辆</p>
            <a class="carList_a" herf="javascript:;">
                <span class="carList_selectCar" data-iconfont="e901"></span>
                <div class="carList_checkCar">
                    <p class="carList_selectCar">请您选择</p>
                </div>
            </a>
        </div>
        <ul id="carList_ul"></ul>
        <input type="hidden" id="carList_carInfo_Id"/>
    </div>
    <ul id="userInfo">
        <li>
            <span style="color: #f87c3a;margin-right: 0.24rem;"></span>
            <p>姓名</p>
            <input maxlength="10" type="text" id="name" placeholder="请输入您的真实姓名"/>
        </li>
        <li>
            <span style="color: #5b53ff;margin-right: 0.24rem;"></span>
            <p>手机号码</p>
            <input maxlength="11" type="tel" id="phone" placeholder="请输入您的手机号"/>
        </li>
        <li style="display: none;">
            <p style="margin-left: 0.74rem;">省市区</p>
            <input type="text" readonly id="ssq"/>
        </li>
        <li>
            <img style="width: 0.26rem;height:0.38rem;-webkit-transform: translate(0.18rem,0.1rem);transform: translate(0.18rem,0.1rem);"
                 src="../../images/to_here.png"/>
            <p style="margin-left: 0.38rem;">故障发生地点</p>
            <!--<input class="ellipsis" readonly type="text" id="address" placeholder="请选择地址"/>-->
            <input type="hidden" id="address"/>
            <span class="showAddress">请选择地址</span>
        </li>
    </ul>
    <div style="height: 0.4rem"></div>
    <!--倒计时组件-->
    <count-block :countblock="countBlock" v-show="isBox" ref="countblock"></count-block>
    <!-- 悬浮组件 -->
    <adve-block ref="adverblock"></adve-block>
    <!-- 操作指南 -->
    <adve-block1 ref="adverblock1"></adve-block1>
    

</div>
<button class="btn_reservation">我要维修</button>


<!-- 点击选择地址出现地图 E-->

<div class="gaode_map">
    <div id="show_map"></div>
    <div class="search_map">
        <input type="text" id="map_address"/>
        <button id="map_search">搜索</button>
        <button id="map_back">返回</button>
    </div>
    <div id="panel_map"></div>
</div>

</div>
<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../../lib/jQuery 3.3.1/jquery-3.3.1.min.js" charset='utf-8'></script>
<script src="../../lib/fastclick 1.0.6/fastclick.min.js" charset='utf-8'></script>
<script src="../../lib/layer.mobile-v2.0/layer_mobile/layer.min.js" charset='utf-8'></script>
<script src="../../lib/jroll.2.6.1/jroll.min.js" charset='utf-8'></script>
<script src="../../lib/swiper-4.2.6/dist/js/swiper.min.js" charset='utf-8'></script>
<script src="../../lib/swiper-4.2.6/dist/js/swiper.animate1.0.3.min.js" charset='utf-8'></script>
<script src="../../js/vue.min.js"></script>
<script src="https://webapi.amap.com/maps?v=1.4.7&key=e9d83bcf337ca24921e9af7aee928b4d"></script>
<script>
    document.write("<script src='../../js/config.js?v=" + Math.random() + "' charset='utf-8'><\/script>");
    document.close();
</script>
<script src="QuickRepairDetails.js?v=2.0.9" charset='utf-8'></script>
<script>
	
    var lat;
    var lng;
    var addressProvince = "";
    var addressCity = "";
    var addressCounty = "";

    function onApiLoaded() {
        try {
            var map = new AMap.Map("show_map", {resizeEnable: true, zoom: 17});

            var marker = new AMap.Marker();
            marker.setMap(map);
            //点击地图
            var clickEventListener = map.on('click', function (e) {
                layer.open({type: 2, anim: "up", shadeClose: false});
                var lnglatXY = [e.lnglat.getLng(), e.lnglat.getLat()];
                marker.setPosition(lnglatXY);
                geocoder.getAddress(lnglatXY, function (status, result) {
                    if (status === 'complete' && result.info === 'OK') {
                        addressProvince = result.regeocode.addressComponent.province;
                        addressCity = result.regeocode.addressComponent.city;
                        //防止高德地图，直辖市的时候，城市返回空
                        if (!addressCity) {
                            addressCity = addressProvince;
                        }
                        addressCounty = result.regeocode.addressComponent.district;
                        $("#ssq").val(addressProvince + " " + addressCity + " " + addressCounty);
                        $(".showAddress").text(result.regeocode.formattedAddress);
                        $("#address").val(result.regeocode.formattedAddress);
                        lat = e.lnglat.getLat();
                        lng = e.lnglat.getLng();
                        $(".back_span").css("display", "block");
                        $(".swiper-container").css("display", "block");
                        app.closeLoading();
                        $(".gaode_map").stop().animate({"left": "100%"}, 200, "linear");
                    } else {
                        alert("获取地址失败，请检查网络");
                        app.closeLoading();
                    }
                });
            });

            var placeSearch;
            var geocoder;
            AMap.service(["AMap.PlaceSearch", "AMap.Geocoder"], function () {
                placeSearch = new AMap.PlaceSearch({
                    pageSize: 3,
                    pageIndex: 1,
                    city: "010",
                    map: map,
                    panel: "panel_map"
                });
                geocoder = new AMap.Geocoder({city: "010"});
                AMap.event.addListener(placeSearch, 'selectChanged', function (results) {
                    layer.open({type: 2, anim: "up", shadeClose: false});
                    addressProvince = results.selected.data.pname;
                    addressCity = results.selected.data.cityname;
                    //防止高德地图，直辖市的时候，城市返回空
                    if (!addressCity) {
                        addressCity = addressProvince;
                    }
                    addressCounty = results.selected.data.adname;
                    $("#ssq").val(addressProvince + " " + addressCity + " " + addressCounty);
                    var map_address;
                    if (results.selected.data.pname === results.selected.data.cityname) {
                        map_address = results.selected.data.cityname + results.selected.data.address + results.selected.data.name;
                    } else {
                        map_address = results.selected.data.pname + results.selected.data.cityname + results.selected.data.address + results.selected.data.name;
                    }
                    $(".showAddress").text(map_address);
                    $("#address").val(map_address);
                    lat = results.selected.data.location.lat;
                    lng = results.selected.data.location.lng;
                    $(".back_span").css("display", "block");
                    $(".swiper-container").css("display", "block");
                    app.closeLoading();
                    $(".gaode_map").stop().animate({"left": "100%"}, 200, "linear");
                });
                AMap.event.addListener(placeSearch, 'error', function (results) {
                    alert("查询地址失败，请检查网络");
                    app.closeLoading();
                });
            });
            $("#map_search").on("click", function () {
                placeSearch.search($("#map_address").val(), function () {
                });
            });

            //自动获取  	geolocation定位，提供了获取用户当前准确位置、所在城市的方法

            var get_position = app.getItem("send_position");
                // $(".showAddress").text(get_position);
                // $("#address").val(get_position);
            // var mapObj;
            // var geolocation;
            // mapObj = new AMap.Map('iCenter');
            
            // mapObj.plugin('AMap.Geolocation', function () {
            //     geolocation = new AMap.Geolocation({timeout: 10000, zoomToAccuracy: true,enableHighAccuracy: true});
            //     mapObj.addControl(geolocation);
            //     geolocation.getCurrentPosition();

            //     AMap.event.addListener(geolocation, 'complete', function (e) {
            //  	// alert(JSON.stringify(e))

            //         // console.log(e)
            //         $(".showAddress").text(e.formattedAddress);     //  初次定位故障发生地;
            //         $("#address").val(e.formattedAddress);
            //         lat = e.position.lat;
            //         lng = e.position.lng;
            //         addressProvince = e.addressComponent.province;
            //         addressCity = e.addressComponent.city;
            //         //防止高德地图，直辖市的时候，城市返回空
            //         if (!addressCity) {
            //             addressCity = addressProvince;
            //         }
            //         addressCounty = e.addressComponent.district;
            //         $("#ssq").val(addressProvince + " " + addressCity + " " + addressCounty);
            //         marker.setPosition([e.position.lng, e.position.lat]);
            //         map.setZoomAndCenter(17, [e.position.lng, e.position.lat]);
            //     });
                
            //     //返回定位出错信息
            //     AMap.event.addListener(geolocation, 'error', function(){
            //     	console.log('定位出错')
            //     });      
            // });
        } catch (e) {
            alert("加载高德地图失败，请检查网络后重试");
            window.location.href = "../QuickRepair/QuickRepair.html";
        }

        $("body").on("click", "#map_back", function () {
            $(".back_span").css("display", "block");
            $(".swiper-container").css("display", "block");

            $(".gaode_map").stop().animate({"left": "100%"}, 200, "linear");
        });
        //选择维修厂地址
        $("body").on("click", ".showAddress", function () {
            $(".back_span").css("display", "none");
            $(".swiper-container").css("display", "none");

            $(".amap-info-contentContainer").remove();
            $(".gaode_map").stop().animate({"left": "0"}, 200, "linear");
        });
    }
    
	
    $(function () {
    	
        app.loading();
        if (api.isDebug) {
            quickRepairDetails();
        } else {
            $.ajax({
                url: api.NWBDApiGetWxTicket + "?r=" + Math.random(),
                type: "POST",
                async: false,
                data: {
                    wxUrl: window.location.href,
                    openid: app.getItem("open_id")
                },
                success: function (result) {
                    if (result.status === "success" && result.code === 0) {
                        wx.config({
                            debug: api.isDebug,
                            appId: result.data.AppID,
                            timestamp: result.data.timestamp,
                            nonceStr: result.data.noncestr,
                            signature: result.data.signature,
                            jsApiList: [
                            'openLocation', 
                            'hideAllNonBaseMenuItem',
                            'hideOptionMenu',		//	隐藏分享菜单
		        			'checkJsApi',			//	
		        			'onMenuShareTimeline',	//	分享到朋友圈
		        			'onMenuShareAppMessage'	//	分享给朋友
                            ]
                        });
                        wx.ready(function () {
                            quickRepairDetails();
                            
                            //新增分享
                            wx.checkJsApi({
                            	jsApiList:['chooseImage'],	//	需要检测的JS接口列表
                            	success:function(res){
                            		console.log(res)
                            	}
                            });
                            var id = app.getItem('userInfo').id;
                            var shareUrl = api.shareAdd + id;
                            var obj = {
                            	//	朋友圈
                            	title:api.shareText,	//	标题
                            	desc:api.shareText2,	//	描述
                            	link:shareUrl,	//	分享链接
                            	imgUrl:api.imgUrl,	//	分享图标
                            	fail:function(res){
                            		console.log(JSON.stringify(res))
                            	},
                            	success:function(){
                            	},
                            	cancel:function(){
                            	}
                            };
                            
                            
                            if(!app.getItem('userInfo').id){
                            	wx.hideAllNonBaseMenuItem();	//	隐藏所有非基础按钮
                            }else{
                            	wx.onMenuShareTimeline(obj)	//	分享到朋友圈
                            	wx.onMenuShareAppMessage(obj)	//	分享给朋友
                            }
                        });
                        wx.error(function () {
                            alert("公众号页面授权失败");
                            app.f_close();
                        });
                    } else {
                        alert("获取授权失败：" + result.message);
                        app.f_close();
                    }
                },
                error: function () {
                    alert("网络异常，请检查网络");
                    app.f_close();
                }
            });
        }

        var jsapi = document.createElement('script');
        jsapi.charset = 'utf-8';
        jsapi.src = 'https://webapi.amap.com/maps?v=1.4.7&key=e9d83bcf337ca24921e9af7aee928b4d&callback=onApiLoaded';
        document.head.appendChild(jsapi);
    });
</script>

<script type="text/javascript">
	//	新增倒计时
	var vm = new Vue({
		el:'#app',
		data:{
			isBox:false,
			countBlock:{
				min:'00',
				sec:'00',
				numAll:'',
				orderId:localStorage.getItem('orderId')
			},
			countDown:''
		},
		methods:{
			//	转化时间并赋值
			formaFun(a){
				var obj = app.formatDuring(a);
					this.countBlock.min = obj.min;
					this.countBlock.sec = obj.sec;
			},
		 	timer(m){
		   	// 定时器
		   	var tt = setInterval(function(){
		   		m++;
		   		this.countDown = m;
				
		   		localStorage.setItem('num',m)
		   		vm.formaFun(m)
		   		if(this.countDown == api.pzTime){
		   			// 	指定时间后定时器消失
		   			vm.isBox = false;
		   			clearInterval(tt);
		   			vm.countDown = 0;
   					localStorage.removeItem('status');
					localStorage.removeItem('num');
					var data = {
						order_id:vm.countBlock.orderId,
						userId:app.getItem('userInfo').id,	//	app.getItem('open_id') '9d8eb665-d810-411b-8ad1-77c341f40038'	
                        openid: app.getItem("open_id")
                    }
					$.ajax({
						type:"POST",
						url:api.NWBDApiWeiXincancelOrder,
						data:data,
						dataType: 'json',
						success:function(result){
							console.log(result)
							if(result.code == 0){
								app.alert(result.data)
								localStorage.removeItem('status');
								localStorage.removeItem('num');
							}
						},
						error:function(){
							alert('操作失败，请检查网络！');
			                app.closeLoading();
						}
					});
		   		}
		   	},1000)
		}
		
		},
		mounted(){
            if(!app.getItem('userInfo')){
                return;
            }
			var number1 = app.checkTime()	
			
			if(number1 != ''){
				this.timer(number1);
			}
			
			//	有未接订单的情况
			var status = localStorage["status"];
			if(status == 1){
				this.isBox = true;
				this.$refs.countblock.childs();
			}else{
				this.isBox = false;
			}
			
			// 调用组件
			this.$refs.adverblock.init();
			//	操作指南
			this.$refs.adverblock1.init1();
		}
	})
</script>
</body>

</html>