#app{
	background: #FAFAFA;
	overflow: hidden;
}
.personalInfo{
	width: 6.9rem;
	margin: .2rem auto;
	overflow: hidden;
	background: #FFF;
	box-shadow:0px 4px 8px 0px rgba(238,238,238,1);
}
.list{
	/*font-weight: bold;*/
	
	margin-top: .4rem;
	border-left: .07rem solid #F77B19;
	padding-left: .3rem;
}
.people{
	width: 1.8rem;
	height: 1.8rem;
	border-radius:50%;
	overflow: hidden;
	margin: 0 auto .3rem;
	background: #FAFAFA;
}
.people img{
	width: 100%;
}
footer{
	width: 100%;
	position: fixed;
	bottom: 0;
	text-align: center;
	background:linear-gradient(-90deg,rgba(254,136,40,1),rgba(255,170,53,1));
	height: .98rem;
	line-height: .98rem;
	color: #fff;
	font-size:.34rem;
}

.line{
	height: .93rem;
	border-top: 1px solid #E8E8E8;
	width: 6.7rem;
	float: right;
	line-height: .93rem;
	font-size:.3rem;
	font-family:PingFangSC-Regular;
	color:rgba(51,51,51,1);
	position: relative;
}
.line input{
	width: 4rem;
	height: 100%;
	float: right;
	margin-right: .4rem;
}
.line input::-ms-input-placeholder{text-align: right;}
.line input::-webkit-input-placeholder{text-align: right;}

.list2{
	margin-bottom: .3rem;
}
.xing{
	color: red;
	padding-left: .05rem;
}
.line img{
	position: absolute;
	width: .35rem;
	right: .1rem;
	top: .28rem;
}
.line3{
	border-top: none;
}
