.barrage {
    position: fixed;
    display: inline-block;
    bottom: 1.3rem;
    right: .4rem;
    z-index: 9;
    width: .96rem;
    height: .96rem;
}

.barrage_name {
    width: .96rem;
    height: .96rem;
    border-radius: 50%;
    overflow: hidden;
    /* padding: .1rem .1rem .1rem .1rem; */
    /* box-shadow:0px 15px 10px rgba(15, 8, 1, 0); */
    box-shadow: 0px 2px 8px 4px rgba(0,0,0,0.3);
}


.col1 {
    color: #fff;
    display: block;
    text-align: center;
}
.barrage_name img{
    width: 100%;
    /* height: 100%; */
    transform: scale(1.2)
}
.img_box{
    width: 100%;
    position: relative;
    display: none;
    opacity: 0;
}
.img_box img{
    width: 100%;
}

.img_box .line_shu{
    border-right: 1px dashed #fff;
    height: .4rem;
    width: 1px;
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    margin-left: -1px;
}
.img_box .close_img{
    width:.5rem;
    height: .5rem;
    position: absolute;
    bottom: -1.1rem;
    left: 50%;
    margin-left: -.25rem;
}


/* 操作指南
 */
 .barrage1 {
    position: fixed;
    display: inline-block;
    bottom: 2.45rem;
    right: .45rem;
    z-index: 1;
    width: 1.45rem;
    height: 1.2rem;
}

.barrage_name1 {
    width: 1.45rem;
    /* height: .96rem; */
    border-radius: 50%;
    /* overflow: hidden; */
    /* padding: .1rem .1rem .1rem .1rem; */
    /* box-shadow:0px 15px 10px rgba(15, 8, 1, 0); */
    /* box-shadow: 0px 2px 8px 4px rgba(0,0,0,0.3); */
}

.barrage_name1 img{
    width: 100%;
    /* height: 100%; */
}

.layui-m-layerchild .new{
    padding: 0 .1rem!important;
}

/* 活动隐藏 */
#barrage{
    display: none;
}