<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0"/>
		<meta name="format-detection" content="telephone=yes,email=no"/>
		<meta name="x5-orientation" content="portrait"/>
		<meta name="x5-fullscreen" content="true"/>
		<meta name="x5-page-mode" content="app"/>
		<title>维修详情</title>
		<script>
		    if (window.screen.availWidth <= 750) {
		        document.documentElement.style.fontSize = (100 / 750 * window.screen.availWidth) + 'px';
		    } else {
		        document.documentElement.style.fontSize = '100px';
		    }
		</script>
		<link rel="stylesheet" type="text/css" href="../../css/base.min.css?v=2.0.3"/>
		<link rel="stylesheet" type="text/css" href="ProgressMess.css?v=2.0.11"/>
	</head>
	<body>
		<div id="app" v-cloak>
            <header>
                <div @click="navT(0)"><span class="borderL">当前维修进度</span></div>|
                <div @click="navT(1)"><span>车辆维修记录</span></div>
            </header>

            <!-- 状态部分 S -->
            <section>
                <div class="class" v-show="show1">
                    <div class="backYellow">
                        <div class="progressWord">
                            <span>维修状态：</span>
                            <span>{{wxStatus}}</span>
                            <div class="marchantName">
                                <div class="imgBox">
                                    <img :src="src" v-lazy="src" alt="维修厂logo">
                                </div>
                                <p v-text="Name"></p>
                                <div v-show="isShow" class="tellPhoto springDe" @click="telphone(tel)">

                                </div>
                            </div>
                        </div>
                    </div>

                    <p v-show="!isShow" style="font-size: .28rem;color: #999;text-align: center;margin: 1rem auto;">暂无维修状态</p>
                    <!-- 进度部分 -->
                    <aside class="asideL" v-show="isShow">
                        <div class="lineS">
                            <span v-for="item,index in lineArr" :class="{normalAc:item.isActive}"></span>
                        </div>
                    </aside>

                    <aside class="asideR" v-show="isShow">
                        <ul>
                            <li v-for="item,index in lineArr">
                                <div class="tringle"></div>
                                <p><span :class="{colorAc:item.isActive}">{{item.add}}</span><span>{{item.time}}</span></p>
                            </li>
                        </ul>
                    </aside>
                    <p style="clear: both;"></p>
                </div>

                <div class="class" v-show="show2">
                     <!-- 维修车辆信息部分 -->
                    <!-- <div class="repairCarMess">
                       
                        <div class="block1">
                            <div></div>
                            <span>维修车辆信息</span>
                            <p></p>
                        </div>
                        <div class="itemMess">
                            <span>车牌号码</span>
                            <div>陕A12312</div>
                            <p style="clear: both;"></p>
                        </div>
                        <div class="itemMess">
                            <span>车辆识别代码</span>
                            <div>ODNGNE923979DTEG</div>
                            <p style="clear: both;"></p>
                        </div>
                        <div class="itemMess">
                            <span>保险公司</span>
                            <div>大众帕萨特</div>
                            <p style="clear: both;"></p>
                        </div>
                        <div class="itemMess">
                            <span>型号</span>
                            <div>2006自动2.4L</div>
                            <p style="clear: both;"></p>
                        </div>
                        <div class="itemMess">
                            <span>使用性质</span>
                            <div>非运营</div>
                            <p style="clear: both;"></p>
                        </div>
                        <div class="itemMess">
                            <span>燃料类型</span>
                            <div>汽油</div>
                            <p style="clear: both;"></p>
                        </div>
                        <div class="itemMess">
                            <span>注册日期</span>
                            <div>2018-01-01</div>
                            <p style="clear: both;"></p>
                        </div>
                    </div> -->

                    <!-- 维修企业信息 -->
                    <!-- <div class="companyMess">
                        <div class="block1">
                            <div></div>
                            <span>维修企业信息</span>
                            <p></p>
                        </div>
                        <div class="itemMess">
                            <span>维修企业名称</span>
                            <div>保宝车服汽车服务有限公司</div>
                            <p style="clear: both;"></p>
                        </div>
                        <div class="itemMess">
                            <span>经营业务信息</span>
                            <div>汽车维修保养</div>
                            <p style="clear: both;"></p>
                        </div>
                        <div class="itemMess">
                            <span>维修质量保证信息</span>
                            <div>一类</div>
                            <p style="clear: both;"></p>
                        </div>
                    </div> -->


                    <!-- 车辆维修记录 -->
                    <div class="repairHis">
                        <div class="block1">
                            <div></div>
                            <span>车辆维修记录</span>
                            <p></p>
                        </div>
                        <div class="itemMess" v-show="isShow">
                            <span>送修日期</span>
                            <div>{{data2.repairDate}}</div>
                            <p style="clear: both;"></p>
                        </div>
                        <div class="itemMess" v-show="isShow">
                            <span>送修里程</span>
                            <div>{{data2.mileage}}km</div>
                            <p style="clear: both;"></p>
                        </div>
                        <div class="itemMess" v-show="isShow">
                            <span>故障描述</span>
                            <div>{{data2.phenomena}}</div>
                            <p style="clear: both;"></p>
                        </div>
                        <div class="itemMess" v-show="isShow" v-for="item in data2.items" style="display: flex;">
                            <div style="flex: 1;position: relative;" class="weixiuArr">
                                <i>维修项目</i>
                                <i>{{item.itemName}};</i>
                            </div>

                            <div style="flex: 1;position: relative;" class="weixiuArr">
                                <i>&nbsp;&nbsp;&nbsp;&nbsp;维修工时</i>
                                <i>{{item.stenInfoId}} 小时</i>
                            </div>
                            <p style="clear: both;"></p>
                        </div>
                        <div class="itemMess" v-show="isShow" v-for="item in data2.parts" style="display: flex;">
                            <div style="flex: 1;position: relative;" class="weixiuArr">
                                <i>配件名称</i>
                                <i>{{item.partName}};</i>
                            </div>

                            <div style="flex: 1;position: relative;" class="weixiuArr">
                                <i>&nbsp;&nbsp;&nbsp;&nbsp;配件数量</i>
                                <i>{{item.quantity}}</i>
                            </div>
                            <p style="clear: both;"></p>
                        </div>
                        <div class="itemMess" v-show="isShow">
                            <span>结算日期</span>
                            <div>{{data2.banalceDate}}</div>
                            <p style="clear: both;"></p>
                        </div>
                        <div class="itemMess" v-show="isShow">
                            <span>结算订单编号</span>
                            <div>{{data2.orderNo}}</div>
                            <p style="clear: both;"></p>
                        </div>
                        <div class="itemMess" v-show="!isShow">
                            <p v-show="!isShow" style="font-size: .28rem;color: #999;text-align: center;margin: 1rem auto;">暂无维修记录</p>
                        </div>
                    </div>

                </div>
                

                <!-- 底部电话 -->
                <div class="bottomTel">
                    <div class="iconKefu">
                        <img src="../../images/icon_kefu.png"/>
                        <div class="iconPhone" @click="telphone('4000-016-369')">
                            4000-016-369
                        </div>
                    </div>
                    <p class="endTel">有任何问题，请您拨打我们的客服热线</p>
                </div>
            </section>
        </div>
    </body>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="../../lib/jQuery 3.3.1/jquery-3.3.1.min.js" charset='utf-8'></script>
    <script src="../../lib/fastclick 1.0.6/fastclick.min.js" charset='utf-8'></script>
    <script src="../../lib/layer.mobile-v2.0/layer_mobile/layer.min.js" charset='utf-8'></script>
    <script src="../../lib/jroll.2.6.1/jroll.min.js" charset='utf-8'></script>
    <script src="../../lib/jroll.2.6.1/jroll-pulldown.1.0.0.min.js"></script>
    <script src="../../js/vue.min.js"></script>
    <script src="../../js/vue-lazyload.js"></script>
    <script src="../../js/common.js?v=2.0.0"></script>
    <script src="https://webapi.amap.com/maps?v=1.4.7&key=e9d83bcf337ca24921e9af7aee928b4d"></script>
    <script>
        document.write("<script src='../../js/config.js?v=" + Math.random() + "' charset='utf-8'><\/script>");
        document.close();
    </script>
    <script src="ProgressMess.js?v=2.0.22"></script>
    <script>
        //-layer懒加载页面图片
        Vue.use(VueLazyload,{
            preLoad:1.3,
            error:'../../images/default_151_151.png',
            loading:'../../images/img_zhanweitu.png',
            attempt:1
        })
    </script>
</html>