<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0" />
    <meta name="format-detection" content="telephone=yes,email=no" />
    <meta name="x5-orientation" content="portrait" />
    <meta name="x5-fullscreen" content="true" />
    <meta name="x5-page-mode" content="app" />
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
    <title>我的钱包</title>
    <script>
        if (window.screen.availWidth <= 750) {
            document.documentElement.style.fontSize = (100 / 750 * window.screen.availWidth) + 'px';
        } else {
            document.documentElement.style.fontSize = '100px';
        }
    </script>
    <link rel="stylesheet" type="text/css" href="../../css/base.min.css?v=2.0.3" />
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="vant.css">
    <link rel="stylesheet" type="text/css" href="Cashhis.css?v=2.1.0" />
</head>

<body>
    <div id="app" v-cloak>
        <div class="jinbi">
            <img src="img/img_jinbi.png" alt="">
        </div>


        <!-- 切换    -->
        <div class="nav_t">
            <div class="sec1">
                <div class="par1">
                    <div class="new_div Ac" @click="qh(0)">
                        未提现
                    </div>
                    <div class="new_div" @click="qh(1)">
                            提现中
                    </div>
                    <div class="new_div" @click="qh(2)">
                            提现记录
                    </div>
                </div>
            </div>

            <div class="sec2">
                <ul class="u0" id="scroller">
                    
                </ul>

            </div>
            
            <div v-show="btnS" class="boox">
                <!-- 按钮 -->
                <div class="btn1">
                        总金额：<em>¥</em> <span></span>
                </div>

                <!-- 按钮 -->
                <div class="btn2" @click="btn2()">
                        
                </div>
                <div class="btn3" v-show="b3">
                    提现
                </div>
            </div>


            <van-popup v-model="show" close-on-click-overlay='false'>
                <div class="txfs">
                    <div class="img_b">

                    </div>
                    <div class="four four1">
                        <span>1.请加微信号:</span>
                        <span>bbcfkf01</span>
                    </div>
                    <div class="four four2">
                            <span>2. 联系电话:</span>
                            <span>15691959091</span>
                    </div>

                    <div class="close_i" @click=close_()></div>
                </div>

            </van-popup>
        </div>
    </div>
</body>
<script src="js/jquery-3.3.1.min.js" charset='utf-8'></script>
<script src="js/fastclick.min.js" charset='utf-8'></script>
<script src="js/common.js?v=2.0.4"></script>
<script src="js/vue.min.js"></script>
<script src="layui/layui.all.js"></script>
<!-- <script src="js/layer.min.js"></script> -->
<script src="js/app.js"></script>
<script src="js/jroll.min.js"></script>
<script src="js/jroll-pulldown.1.0.0.min.js"></script>
<script src="js/clipboard.js"></script>
<script src="js/vant.min.js"></script>
<script src="Cashhis.js?v=2.1.0"></script>
<!-- <script src="vconsole.min.js"></script> -->
</html>