[v-cloak] {
  display: none;
}
body #app {
  overflow: hidden;
  background-size: 100% 100%;
}
body #app .con1 {
  margin: .5rem .4rem 0;
  box-shadow: 0px 0px 10px #eee;
  background: #fff;
  border-radius: .1rem;
}
body #app .con1 .p2,
body #app .con1 .p3,
body #app .con1 .p4 {
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  height: .5rem;
  margin-top: .3rem;
  position: relative;
}
body #app .con1 .p2 input,
body #app .con1 .p3 input,
body #app .con1 .p4 input {
  width: 100%;
  font-size: .26rem;
  position: absolute;
  bottom: 0;
}
body #app .con1 .p2 ::-webkit-input-placeholder,
body #app .con1 .p3 ::-webkit-input-placeholder,
body #app .con1 .p4 ::-webkit-input-placeholder {
  color: #c9c4f8 !important;
}
body #app .con1 .p2 {
  top: -0.4rem;
}
body #app .con1 .p3 {
  top: -0.4rem;
}
body #app .con1 .p3 button {
  position: absolute;
  /* top: -1.0rem; */
  top: -0.15rem;
  right: 0rem;
  padding: .1rem .3rem;
  text-align: center;
  font-size: 0.25rem;
  color: #6C2302;
  border-radius: 0.3rem;
  background: #FF9A03;
}
body #app .con1 .p4 {
  top: -0.4rem;
}
body #app .con1 .p4 #pwd_show {
  width: .35rem;
  height: .2rem;
  position: absolute;
  right: 0rem;
  top: .05rem;
}
body #app .con1 .p-1 {
  width: 80%;
  margin: -0.25rem auto 0.7rem;
  border-bottom: 1px solid #ccc;
  height: .7rem;
}
body #app .con1 .p-1 input {
  width: 50%;
  font-size: .26rem;
  position: absolute;
  bottom: 0;
}
body #app .con1 .p-1 ::-webkit-input-placeholder {
  color: #c9c4f8 !important;
}
body #app .con1 .p-1 img {
  width: 1.5rem;
  height: .6rem;
  position: absolute;
  bottom: 0.1rem;
  right: 0rem;
}
body #app .new_back {
  width: 100%;
  height: 3rem;
  background: url('img/img_banner.png');
  background-size: 100% 100%;
}
body #app .new_p {
  font-size: .24rem;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #555555;
  text-align: center;
  margin: .38rem auto .1rem;
}
body #app .new_p3 {
  font-size: .25rem;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #555555;
  text-align: center;
  margin: 0rem auto .1rem;
}
body #app .new_point {
  display: block;
  width: 5rem;
  height: .92rem;
  margin: .25rem auto .1rem;
}
body #app .new_p2 {
  font-size: .8rem;
  font-family: FZZDHJW--GB1-0;
  font-weight: bold;
  color: #ff9a02;
  text-align: center;
  margin: 0rem auto;
}
body #app .regiter_box {
  width: 6.7rem;
  margin: .44rem auto;
  height: 1.1rem;
  overflow: hidden;
  border-radius: .55rem;
  font-size: .4rem;
  font-family: FZZDHJW--GB1-0;
  font-weight: 400;
  color: #ffffff;
  background: #FF9A02;
  text-align: center;
  line-height: 1.1rem;
}
body #app .regiter_box img {
  height: 100%;
}
body #app .registe_btn {
  display: block;
  width: 6.7rem;
}
body #app .regist_bottom {
  display: block;
  width: 100%;
  margin: .05rem auto 0;
}
body .layui-m-layer0 .layui-m-layerchild {
  width: 80%;
}
body .layui-m-layercont {
  padding: 10px 20px;
  font-size: .3rem;
  text-align: center;
}
body .img_box p {
  position: absolute;
  text-align: center;
  font-size: .5rem;
  color: #F9FAA9;
  width: 100%;
  bottom: 1.9rem;
}
body .img_box p span {
  font-size: .8rem;
  color: #F9FAA9;
}
body .img_box .new_six {
  bottom: 3.3rem;
}
body .img_box img.quchk {
  position: absolute;
  width: 3.48rem!important;
  height: 1.36rem!important;
  bottom: .5rem!important;
  left: 50%;
  margin-left: -1.74rem;
}
body .img_box img.quchk2 {
  position: absolute;
  width: 3.48rem!important;
  height: 1.36rem!important;
  bottom: 1.8rem!important;
  left: 50%;
  margin-left: -1.74rem;
}
body .img_box img.tixian {
  position: absolute;
  width: 1.55rem!important;
  height: .3rem!important;
  bottom: 1.5rem!important;
  left: 1rem;
}
body .img_box .tx_div {
  font-size: .26rem;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  left: .9rem;
}
body .img_box .tx_div > span:nth-child(1) {
  display: inline-block;
  width: .3rem;
  height: .3rem;
  border-radius: 50%;
  background: #F9FAA9;
  font-size: .24rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  line-height: .35rem;
  color: #F8473F;
}
body .img_box .tx_div > span:nth-child(2) {
  line-height: .35rem;
  color: #F9FAA9;
}
body .img_box .tx_div > span:nth-child(3) {
  line-height: .35rem;
  color: #fff;
}
body .img_box .tx_div > span:nth-child(3) a {
  line-height: .35rem;
  color: #fff;
}
body .img_box .tx_div2 {
  position: absolute;
  bottom: 0.4rem;
}
body .img_box .tx_div1 {
  position: absolute;
  bottom: .9rem;
}
body .close_img2 {
  position: absolute;
  width: .7rem!important;
  height: .7rem!important;
  bottom: -1.5rem !important;
  left: 50%;
  margin-left: -0.35rem;
}
