[v-cloak] {
  display: none;
}
body {
  background: #f5f5f5;
}
body section {
  display: block;
  width: 6.9rem;
  min-height: 9.19rem;
  background: #ffffff;
  box-shadow: 0px 4px 8px 0px #eeeeee;
  border-radius: 4px;
  margin: .2rem auto 0;
  overflow: hidden;
}
body section .rateScore {
  width: 3rem;
  height: .5rem;
  margin: .48rem auto 0;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  font-size: .22rem;
  color: #aaaaaa;
}
body section .rateScore p {
  width: .68rem;
  height: .01rem;
  border-top: 1px solid #ddd;
  margin-top: .18rem;
}
body section .rateScore p:nth-child(1) {
  float: left;
}
body section .rateScore p:nth-child(2) {
  float: right;
}
body section .rateScore span {
  display: block;
  text-align: center;
}
body section .rateSz {
  text-align: center;
  color: #F28928;
  font-size: .2rem;
  margin: 0 auto .14rem ;
}
body section .rateSz span {
  font-size: .32rem;
}
body section .rateNum {
  width: 3.2rem;
  margin: 0 auto;
}
body section .rateWord {
  text-align: center;
  font-size: .28rem;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #333333;
  margin: .2rem auto 0;
}
body section .label {
  max-width: 6rem;
  margin: .32rem auto .28rem;
  min-height: .55rem;
}
body section .label span {
  display: inline-block;
  padding: 0 .1rem;
  height: .52rem;
  line-height: .52rem;
  border: 1px solid #999;
  font-size: .24rem;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #999999;
  margin: 0 .11rem;
}
body section .label .activeLabel {
  background: rgba(242, 137, 40, 0.1);
  color: #F28928;
  border: 1px solid #F28928;
}
body section .textInput {
  width: 6.32rem;
  height: 2.48rem;
  margin: .32rem auto 0;
  background: #fafafa;
}
body section .textInput textarea {
  display: block;
  width: 100%;
  height: 100%;
  background: #fafafa;
  font-size: .28rem;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #666;
  padding: .1rem;
}
body section .uploadImg {
  width: 6.32rem;
  margin: .26rem auto 0;
}
body section .uploadImg p {
  font-size: .22rem;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #999999;
  margin-bottom: .18rem;
}
body section .uploadImg .uploadImgArr {
  display: inline-block;
  float: left;
}
body section .uploadImg .uploadImgArr img {
  width: 100%;
  height: 100%;
}
body section .uploadImg .uploadImgArr .smallBox {
  display: inline-block;
  width: 1.28rem!important;
  height: 1.28rem!important;
  margin-right: .16rem;
  position: relative;
}
body section .uploadImg .van-uploader {
  display: inline-block;
  width: 1.28rem!important;
  height: 1.28rem!important;
  line-height: 1.28rem;
  float: left;
  background: #fafafa;
  border-radius: 4px;
  border: 1px solid #cccccc;
  text-align: center;
}
body section .uploadImg .van-uploader span {
  color: #ccc;
  font-size: .5rem;
}
body section .uploadImg .van-checkbox__icon--checked .van-icon {
  border-color: #FFAA35;
  background-color: #FFAA35;
}
body section .uploadImg .van-checkbox {
  text-align: right;
}
body .uploadBtn {
  width: 6.90rem;
  height: .96rem;
  background: linear-gradient(270deg, #fe8828 0%, #ffaa35 100%);
  box-shadow: 0px 4px 8px 0px #eeeeee;
  border-radius: .48rem;
  font-size: .34rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: #ffffff;
  margin: .2rem auto 0;
  text-align: center;
  line-height: .96rem;
}
body .uploadClose {
  display: inline-block;
  width: .4rem;
  height: .4rem;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  right: 0;
  top: 0;
  font-style: normal;
  font-size: .35rem;
  color: #fff;
  text-align: center;
  line-height: .4rem;
}
body #saveImg li {
  width: 1.2rem;
  height: 1.2rem;
}
