<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0"/>
		<meta name="format-detection" content="telephone=yes,email=no"/>
		<meta name="x5-orientation" content="portrait"/>
		<meta name="x5-fullscreen" content="true"/>
		<meta name="x5-page-mode" content="app"/>
		<title>服务评价</title>
		<script>
		    if (window.screen.availWidth <= 750) {
		        document.documentElement.style.fontSize = (100 / 750 * window.screen.availWidth) + 'px';
		    } else {
		        document.documentElement.style.fontSize = '100px';
		    }
		</script>
        <link rel="stylesheet" type="text/css" href="../../css/base.min.css?v=2.0.3"/>
		<link rel="stylesheet" type="text/css" href="assess.css?v=2.0.0"/>
	</head>
	<body>
		<div id="app" v-cloak>

        </div>
    </body>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="../../js/zepto.min.js" charset='utf-8'></script>
    <script src="../../lib/fastclick 1.0.6/fastclick.min.js" charset='utf-8'></script>
    <script src="../../lib/layer.mobile-v2.0/layer_mobile/layer.min.js" charset='utf-8'></script>
    <script src="../../lib/jroll.2.6.1/jroll.min.js" charset='utf-8'></script>
    <script src="../../lib/jroll.2.6.1/jroll-pulldown.1.0.0.min.js"></script>
    <script src="../../js/vue.min.js"></script>
    <script>
        document.write("<script src='../../js/config.js?v=" + Math.random() + "' charset='utf-8'><\/script>");
        document.close();
    </script>
    <script src="assess.js?v=2.0.0"></script>
</html>